<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>x-apple-reminderkit</string>
	</array>
	<key>FDC_API_KEY</key>
	<string>$(FDC_API_KEY)</string>
	<key>TELEMETRY_DECK_APP_ID</key>
	<string>$(TELEMETRY_DECK_APP_ID)</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>KFinder needs access to create and view reminders for PT/INR tests.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
